# ignore all file that ends with .env
*.env

# ignore all file that ends with .txt
*.txt

# ignore directory that starts with . in their name
.*/*

.DS_Store

# ignore all file that starts with results_
results_*

time_*