# ignore all file that ends with .env
*.env

# ignore all file that ends with .txt
*.txt

# ignore directory that starts with . in their name
.*/*

.DS_Store

# ignore all file that starts with results_
results_*

time_*

# directory called hello_idl_its_me_globus and all its content
hello_idl_its_me_globus/

# ignore file that starts with cmds_ 
cmds_*

*.yaml

images/

*.jpg


